.ETMain-header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px #ccc;
  margin: 0 0 10px 0;
  box-sizing: border-box;
}
.ETMain-Logo {
  width: 60px;
  height: 60px;
}
.input-area {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  justify-content: center;
  background-color: white;
  height: 40px;
  border-radius: 20px;
  border: solid 1px #ccc;
  margin: 0 10px;
}
.search {
  margin: 4px 15px 4px 0px;
  width: 100%;
  border: none;
}
.search-icon {
  text-align: center;
}
.other-back {
  font-size: 60px;
  width: 60px;
  height: 60px;
}
.head-name {
  font-size: 20px;
}
