.nav {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 0;
  flex-wrap: wrap;
  z-index: 5;
  background-color: white;
}
.nav .container .material-symbols-outlined {
  padding: 10px;
  display: block;
}
.nav .container {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.nav .container span {
}
.active {
  background-color: #ccc;
}
