/* 로그인 페이지 배경 */
.login-outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 뷰포트의 전체 높이 */
  /* width: 100vw; 뷰포트의 전체 너비 */
  background-color: #ffebe0; /* 배경색 */
  flex-direction: column;
}

/* 함께 먹는 즐거움 */
.welcome-text {
  font-size: 12px;
  margin-bottom: 10px;
}

/* Eat Together */
.login-outer-container h1 {
  font-size: 24px;
  margin-bottom: 0px;
  font-weight: bold;
  color: #ff3d00;
}

/*로고 위아래 공간*/
.logo {
  margin-top: 20px; 
  margin-bottom: 20px;
}

/* 로고 이미지 */
.logo img {
  width: 150px; 
  height: 150px;
}

/* 아이디, 비밀번호 입력 컨테이너 */
.login-outer-container input {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

/* 입력 칸 클릭했을 때 테두리 색 */
.login-outer-container input:focus {
  outline: 2px solid #ff3d00;
}

/* 로그인, 회원가입 버튼 */
.login-btn,
.register-page-btn {
  margin: 10px 0;
  padding: 10px 20px;
  width: 150px;
  border: none;
  border-radius: 10px;
  background-color: #ff3d00;
  color: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 1000;
  text-align: center;
}
