.mypage-container {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.value {
  font-size: 16px;
}

.logout-link {
  cursor: pointer; /* 마우스 아이콘을 '손가락' 모양으로 변경 */
  transition: color 0.3s ease; /* 부드러운 색상 전환 효과 */
}

.logout-link:hover {
  color: blue; /* 예: 마우스를 갖다대면 글자 색상을 파란색으로 변경 */
}