@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

@font-face {
  font-family: 'Jeju Gothic', sans-serif;
}
.App {
  font-family: 'Jeju Gothic';
  background-color: #ccc;
}
.inner {
  margin: 0 auto;
  width: 500px;
  min-height: 100vh;
  background-color: white;
  position: relative;
}
a {
  text-decoration-line: none;
}
a:visited {
  color: black;
}
